{% extends 'base.html' %}
{% block title %}
Container Page
{% endblock %}



{% block content %}
<br>

<div class="container">
    <h3 class="row justify-content-center">Food Items</h3>
    <br>
    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Individual weight</th>
                <th scope="col">Category</th>
                <th scope="col">Expiry Date</th>
                <th scope="col">Barcode</th>
                <th scope="col">Container ID</th>
                <th scope="col">Last checkout date</th>
                <th scope="col">Last checkout time</th>
                <th scope="col">Status</th>
                <th scope="col">Alert at</th>
                <th scope="col">Available</th>
                

            </tr>
        </thead>
        <tbody>

            {% for item in items %}
            <tr>
                <th scope="row">{{ item[0] }}</th>
                
                {% for i in item[1:]%}
                <td> {{ i }}</td>
                {% endfor %}
                
            </tr>
            {% endfor%}
        </tbody>
    </table>
</div>


{% endblock %}