{% extends 'base.html' %}
{% block title %}
Shopping list Page
{% endblock %}



{% block content %}
<div class="row justify-content-center">
    
</div>
<br>
<div class="container">
        <div class="row justify-content-center">
            <div class="col-sm col-md-6">
                <h3>Add new item to list</h3>
                <br>
                <form method="POST" class="form-register" style="color:white">
                    {{ form.hidden_tag() }}
        
                    {{ form.item_name.label() }}
                    {{ form.item_name(class="form-control", placeholder="Item") }}
                    
                    {{ form.individual_weight.label() }}
                    {{ form.individual_weight(class="form-control", placeholder="Item") }}

                    {{ form.category.label() }}
                    {{ form.category(class="form-control", placeholder="Item") }}
                    
                    {{ form.expriry_date.label() }}
                    {{ form.expriry_date(class="form-control", placeholder="Item") }}

                    {{ form.barcode.label() }}
                    {{ form.barcode(class="form-control", placeholder="Item") }}

                    {{ form.container_id.label() }}
                    {{ form.container_id(class="form-control", placeholder="Item") }}

                    {{ form.alert_at.label() }}
                    {{ form.alert_at(class="form-control", placeholder="Set Alert at") }}
                    
                    {{ form.quantity.label() }}
                    {{ form.quantity(class="form-control", placeholder="quantity (in Grams)") }}
        
                    
        
                    <br>
        
                    {{ form.submit(class="btn btn-lg btn-block btn-primary") }}
        
                </form>
            </div>
        </div>
</div>
<br>

<div class="container">
        <h3 class="row justify-content-center">Shopping list</h3>
        <br>
    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Individual weight</th>
                <th scope="col">Category</th>
                <th scope="col">Expiry Date</th>
                <th scope="col">Barcode</th>
                <th scope="col">Container ID</th>
                <th scope="col">Last checkout date</th>
                <th scope="col">Last checkout Time</th>
                <th scope="col">Status</th>
                <th scope="col">Alert at</th>
                <th scope="col">Available</th>
    
    
            </tr>
        </thead>
        <tbody>
    
            {% for item in shop_list %}
                
                <tr>
                    <th scope="row">{{ item[0] }}</th>
        
                    {% for i in item[1:]%}
                    <td> {{ i }}</td>
                    {% endfor %}
        
                </tr>
                
            {% endfor%}
        </tbody>
    </table>
</div>


{% endblock %}